<h1>If you can read this, juice is working!!!</h1>
<p>What you do from here is up to you.</p>
<ul>
  <li>
    To edit this widget, you should change its definition
    in <code>{{lib_path}}/widgets/sandbox/welcome.js</code> and its
    associated template
    at <code>{{lib_path}}/widgets/sandbox/templates/welcome.html</code>
  </li>
  <li>
    To change the page at this url, look in
    <code>{{site_path}}/pages.js</code> and replace the <code>sandbox</code>
    page definition with a new one.
  </li>
</ul>
